<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login View</title>
</head>
<body>

<center>
    <form th:action="${loginAction}" method="post" th:object="${professorLoginModel}">
        <label>
            Username:
            <input th:field="${professorLoginModel.username}" type="email" />
        </label>

        <label>
            Password:
            <input th:field="${professorLoginModel.password}" type="password"/>
        </label>
        <br/>
        <span th:text="${error}"></span>
        <br/>
        <br/>

        <input type="submit" value="Login"/>


    </form>
</center>

</body>
</html>