<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Professor Register</title>
</head>
<body>
<center>
    <form th:object="${professorModel}">
        <label>
            Name:
            <input th:field="${professorModel.name}" type="text" />
        </label>

        <label>
            Surname:
            <input th:field="${professorModel.surname}" type="text"/>
        </label>

        <label>
            Email:
            <input th:field="${professorModel.email}" type="email"/>
        </label>
        <label>
            Password:
            <input th:field="${professorModel.password}" type="password"/>
        </label>
    </form>
</center>

</body>
</html>