<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Professor Register</title>
</head>
<body>
<center>

    <form action="/grades/register-professor" method="post" th:object="${professor}">
        <label>
            Name:
            <input th:field="${professor.name}" type="text" />
        </label>

        <label>
            Surname:
            <input th:field="${professor.surname}" type="text"/>
        </label>

        <label>
            Email:
            <input th:field="${professor.email}" type="email"/>
        </label>
        <label>
            Password:
            <input th:field="${professor.password}" type="password"/>
        </label>
            <input type="submit" value="Register" />
    </form>
    <a href="/grades/login-professor">Log in</a>
</center>

</body>
</html>